<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= themeName %> - Sequence.js Theme</title>
  <link href="css/sequence-theme.<%= themeSlug %>.css" rel="stylesheet" media="all">
</head>
<body>

  <div id="sequence">
    <div class="seq-screen">
      <ul class="seq-canvas">
        <li>
          <!-- Step 1 content here -->
        </li>
        <li>
          <!-- Step 2 content here -->
        </li>
        <li>
          <!-- Step 3 content here -->
        </li>
      </ul>
    </div>
  </div>

  <script src="scripts/imagesloaded.pkgd.min.js"></script>
  <script src="scripts/hammer.min.js"></script>
  <script src="scripts/sequence.js"></script>
  <script src="scripts/sequence-theme.<%= themeSlug %>.js"></script>
</body>
</html>
